.serverless
*.log
npm-debug.log
pids
*.pid
*.seed
dist
lib-cov
coverage
.grunt
.lock-wscript
node_modules
.idea
.DS_Store
.tmp
.env
env.js
env.yml
env.json
admin.env
tmp
*.pyc
*.swp
*.swo
vendor
./bin/Debug/netcoreapp2.1/
./bin/release/netcoreapp2.1/

# Flask stuff
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
